/*
1 creazione del testo e formattazione di 1 parola da far ruotare
2 inserimento delle altre 2 parole
3 sovrapporre le 3 parole
4 mostrare 1 parola e nascondere le altre 2
5 animare 1 parola (fadein - fadeout con spostamento)
6 animare le altre 2 parole
7 ritardare progressivamente l'animazione delle altre 2 parole 
*/

body {
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
    font-family: 'Bree Serif';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/breeserif/v17/4UaHrEJCrhhnVA3DgluA96rp5w.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

#testoAlternato {
    display:flex;
    text-align: left;
    font-size: 2rem;
    line-height: 1.5;
    border: 1px solid #333;
    padding: 20px ;
    background-color: #fff;
    width: 700px;
}

.parole {
    color: #6a889c;
font-family: 'Bree Serif';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/breeserif/v17/4UaHrEJCrhhnVA3DgluA96Tp56N1.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

.parole i {
    /* position:absolute per sovrapporre le parole */
    position: absolute; 
    opacity: 0;
    /* sposta l'l'elemento in basso per la visualizzazione */
    transform: translateY(100%);
    /* animation viene utilizzata per definire le animazioni di opacità e spostamento */
    animation: rotateWords 9s linear infinite;
    /*  linear significa che l'animazione procede a una velocità costante dall'inizio alla fine. */
    /* L'animazione rotatewords gestisce l'opacità e la posizione delle parole nel tempo */
    /* animation: rotateWords 9s linear infinite; significa che l'animazione rotateWords durerà 9 secondi per ciclo, procederà a una velocità costante e si ripeterà indefinitamente. */
    padding-left: 5px;
}

/* Le parole vengono ritardate con animation-delay per creare l'effetto di rotazione sequenziale */
.parole i:nth-child(1) {
    animation-delay: 0s;
}

.parole i:nth-child(2) {
    animation-delay: 3s;
}

.parole i:nth-child(3) {
    animation-delay: 6s;
}

@keyframes rotateWords {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }
    10% {
        opacity: 1;
        transform: translateY(0);
    }
    30% {
        opacity: 1;
        transform: translateY(0);
    }
    40% {
        opacity: 0;
        transform: translateY(100%);
    }
    100% {
        opacity: 0;
        transform: translateY(100%);
    }
    
}
